.star-rating,
.star-rating a:hover,
.star-rating a:active{
  background: url(img/star_color.png) repeat-x;
}
.star-rating{
  position:relative;
  width:85px;
  height:16px;
  overflow:hidden;
  list-style:none;
  margin:0;
  padding:0;
  background: url(img/star_grey.png) repeat-x;
}

.star-rating li{
  display: inline;
}
.star-rating a {
  position:absolute;
  top:0;
  left:0;
  text-indent:-1000em;
  height:16px;
  line-height:16px;
  outline:none;
  overflow:hidden;
  border: none;
}

.star-rating a.stars1{
  width:20%;
  z-index:6;
}
.star-rating a.stars2{
  width:40%;
  z-index:5;
}
.star-rating a.stars3{
  width:60%;
  z-index:4;
}
.star-rating a.stars4{
  width:80%;
  z-index:3;
}
.star-rating a.stars5{
  width:100%;
  z-index:2;
}
